/*
 * xtrifo00:
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 *
 * Snazte se dodat aspon castecne reseni, i snaha se hodnoti.
 */
* {
    margin: 0;
    padding: 0;
}

  body, html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}
 body {
    background-image: url(../img/bg/bg-body.svg); 
    min-width: 768;
    overflow-x: hidden;
}

header{
    display: flex;
	flex-direction: column-reverse;
    min-width: 768px;
}

/* #header-title::after
{
    background: url(../img/custom/beers.png);
    background-position: 100% calc(95% - 150px);
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 50;
} */

 #header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/bg/bg-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 768px;
    height: 100vh;
    z-index: -1;
}
img {
    max-width: 100%;
}

#header-title span {
    display: block; 
    color: #fff;
    text-shadow: 0 0 8px #43d72c;
    transform: translate(0, 0);
    visibility: visible; /* Initially visible */
    opacity: 1; /* Fully opaque */
    position: relative;
    left: 0;
    top: -150px;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s, transform 0.5s ease; /* Added transition for opacity and delayed visibility */
}

.scrolled #header-title span {
    visibility: hidden; 
    transform: translate(0, 400px);
    opacity: 0;
}

@font-face {
    font-family: 'Textile';
    src: url('../fonts/textile.ttf') format('truetype');
}

@font-face {
    font-family: 'Font Awesome 6';
    src: url('../fonts/fa-solid-900.ttf') format('truetype');
}
#header-title span:first-child {
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 7vw;
    margin-bottom: -2vw;
    transition: all 0.5s ease 0.1s;
}


#header-title span:nth-child(2) {
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 3.5vw;
    margin-bottom: -1vw;
    transition: all 0.5s ease 0.2s;
}

#header-title span:nth-child(3) {
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 1vw;
    transition: all 0.5s ease 0.3s;

}

#header-title span:nth-child(2),
#header-title span:nth-child(3) {
    position: relative; 
}

#header-title span:last-child {
    font-size: 2vw;
    color: #fff;
    font-family: 'Textile';
    transition: all 0.5s ease 0.4s;
}

.scrolled #header-title span:first-child {
    transition-delay: 0.4s; /* Last to disappear */
}

.scrolled #header-title span:nth-child(2) {
    transition-delay: 0.3s;
}

.scrolled #header-title span:nth-child(3) {
    transition-delay: 0.2s;
}

.scrolled #header-title span:last-child {
    transition-delay: 0.1s; /* First to disappear */
}

#header-title span:last-child::before{
    content: "“";
    display: inline-block; 
}

#header-title span:last-child::after{
    content: "”";
}


#header-title span:nth-child(2)::before,
#header-title span:nth-child(2)::after {
    content: ''; 
    text-shadow: 0 0 8px #43d72c;
    display: inline-block; 
    width: 4vw; 
    height: 4vw; 
    position: absolute; 
    background-size: cover; 
    background-repeat: no-repeat;
}

#header-title span:nth-child(2)::before {
    background-image: url('../img/custom/flag.svg'); 
    top: 10%; 
    left: -4.5vw; 
}

#header-title span:nth-child(2)::after {
    background-image: url('../img/custom/flag.svg'); 
    transform: scaleX(-1); 
    top: 10%; 
    right: -4.5vw; 
    
}

image {
    max-width: 1200px;
}

#header-menu {
    background: white;
    padding-top: 90px;
    height: 200px;
    width: 1200px;
    align-self: center;
    border-left: #43d72c 2px dotted;
    border-right: #43d72c 2px dotted;
    z-index: 999;
}

#header-menu::before{
    content: "";
    position: absolute;
    top: calc(90% - 10vh);
    left: 0;
    width: 100%;
    height: 280px;
    background-image: url('../img/custom/beers.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover; 
}


#header-menu ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 50px;
    padding: 10px;
    list-style: none;
    text-align: center;
    border-bottom: #43d72c 2px dotted;
    border-top: #43d72c 2px dotted;

}

#header-menu ul li {
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
}

#header-menu ul li:nth-child(3) {
    margin-right: 70px;
}
#header-menu ul li:nth-child(4) {
    margin-left: 70px;
}

#header-menu ul li a {
    color: #201402;
}



#header-menu li:nth-child(3) a::after {
    content: ''; 
    display: inline-block; 
    width: 40px; 
    height: 55px; 
    position: absolute; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-image: url('../img/custom/leaf.svg'); 
    margin-top: -15px;
    margin-left: 70px;
    transform: rotate(90deg) scaleX(-1);
}


@media  (max-width: 768px) {
    body {
        overflow-x: scroll;
    }
}


/* #heyoooo{
    display: none;
}  */

#heyoooo {
    position: fixed; /* Use absolute if you prefer it relative to a parent container */
    bottom: -100%; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease; /* Smooth transition for popping up */
    width: 300px;
    height: 80px;
    padding-top: 20px; /* Adjusted padding */
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(9, 255, 0, 0.6);
    background-color: #fff; /* Background color */
    z-index: 1000; /* Ensure it's above other content */
    overflow: hidden; /* Keeps content within the borders */
    display: flex;
    flex-direction: row;
}



#heyoooo img {
    padding-left: 20px;
    height: 80%; 
    max-width: 100%;
}

#heyoooo div {
    text-align: center; /* Center the text inside the div */
    display: flex;
    flex-direction: column;
}


#heyoooo div span {
    margin-left: 30px;
    font-family: 'Calistoga';
    font-size: 14px;
    color: #43d72c;
}

#heyoooo div span b {
    font-family: 'Calistoga';
    font-size: 34px;
    color: #101110;
}

#heyoooo.open {
    bottom: 80%; 
    transform: translate(-50%, 50%); 
}



#about{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-left: #43d72c 2px dotted;
    border-right: #43d72c 2px dotted;
    overflow: hidden; 

}

#about::before {
    content: "";
    position: absolute;
    top: 200px;
    left: 20px;
    width: 150px;
    height: 100%;
    background-image: url('../img/custom/sprites.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 40%;
    transform: rotate(-45deg); 
    transform-origin: center; 
}

#about::after {
    content: "";
    position: absolute;
    top: -280px;
    left: 980px;
    width: 150px; /* Set the width to half of the #about element or to the width of the sprite section */
    height: 100%;
    background-image: url('../img/custom/sprites.svg');
    background-repeat: no-repeat;
    background-position: left center; /* Align the left part of the image to the container */
    background-size: auto 40%; /* Adjust the size accordingly */
    transform: rotate(-45deg);
    transform-origin: center;
    
}
#about > * {
    position: relative;
    /* z-index: 1; */
}
#about .references ul{
    list-style: none;
    margin-left: 450px;
    display: flex;
    justify-content: center;
    padding-top : 15px;
    padding-bottom: 100px;

}

#about .references li {
    text-decoration: none;
}

.references li a {
    font-size: 0; /* Hide the link text */
    text-decoration: none; /* Removes the underline */
    padding: 0 5px;
}

#about .references li a::before {
    content: "\f005"; 
    font-family: "Font Awesome 6 Free"; 
    color: #0c8714;
    font-weight: 900;
    font-size: 16px; 
    visibility: visible;
}

#about .references li a:hover::before {
    content: "\f005"; 
    font-family: "Font Awesome 6 Free"; 
    color: #43d72c;
    font-weight: 900;
    font-size: 16px; 
    visibility: visible;
}

.references li a:hover::before {
    
    color: #43d72c;
    
}

#about .heading {
    padding-bottom: 20px;
    padding-top: 50px;
}

.video-player {
    position: absolute;
    margin: 0 auto;
    width: 800px;
    height: 450px;
  }
  
.video-content video {
    position: relative;
    width: 800px;
    height: 450px;
    object-fit: cover; 
}

.video-controls {
    position: absolute;
    width: 100%;
    height: 8.0971659919028340080971659919028%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .video-controls button {
    position: sticky;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 40px; 
    height: 40px;
    visibility: hidden; 
}

.video-controls button {
    content: attr(class); 
    font-size: 0;   
}

.playpause::after,
.playpause:before,
.mute:before,
.fullscreen:before {
    content: ""; 
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    color: #1f7301;
    visibility: visible;
    font-size: 25px; 
    text-shadow: #ffffff 0px 0px 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.playpause::after {
    content: "\f04b"; 
    font-size: 80px; 
    top: -220px;
    left: 20px;
}

.video-player[data-state="played"] .playpause::after{
    display: none;
}

 .playpause:before {
    content: "\f04c"; 
    top: -10px;
    left: -330px;
}

.video-player[data-state="paused"] .playpause::before {
    content: "\f04b";
}

.mute:before {
    content: "\f028";
    top: -10px;
    left: -330px;
}

.video-player[data-mute="muted"] .mute:before {
    content: "\f6a9";
}

button.fullscreen:before {
    content: "\f065";
    top: -10px;
    left: 350px; 
}

.video-player.fullscreen {
  overflow: hidden;
}

.video-player.fullscreen .video-content video {
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    object-fit: cover; /* This will cover the screen, potentially cropping the video */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    z-index: 1000; /* High z-index to ensure it's on top */
}

.video-player.fullscreen .video-controls {
    object-fit: cover; /* This will cover the screen, potentially cropping the video */
    position: fixed; /* Fixed position */
    width: 100vw; /* Viewport width */
    bottom: 0;
    z-index: 1001; /* Ensures controls are above the video */
}


.video-player.fullscreen button.fullscreen:before {
    content: "\f066"; 
    left: 330px;
}

#about .video-player.fullscreen .time{
    left: -240px;
    top: 2px;
}

#about .video-player.fullscreen button.playpause::after {
    left: -300px;
    top: -400px;
}

#about .video-player.fullscreen button.playpause::before {
    left: -1000px;
}

#about .video-player.fullscreen button.mute::before {
    left: -1000px;
}


.video-player.fullscreen progress {
    width: 100%;
    height: 4%;
    object-fit: cover; 
    position: fixed;
    margin: 0 auto; 
    top: 720px;
    left: 0;
    z-index: 1000; 
}

.progress {
    width: 800px;
    position: absolute;
    bottom: 0px;
    background-color: #1f7301;
    opacity: 0.5;
    z-index: 100;
}
#about .time {
    color: #1f7301;
    text-shadow: #ffffff 0px 0px 5px;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 85px;
}
  

#about h2 {
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 20px;
    color: #1f7301;
    position: relative;
}

#about .heading span {
    font-family: 'Textile';
    font-size: 25px;
    color: #292929;
    position: relative;
}

#about .name{
    font-family: 'Calistoga';
    font-size: 16px;
    color: #292929;
    margin-left: 525px;
}

#team{
    position: relative;
    height: 900px;
    margin: 0 auto;
    text-align: center;
    background: url('../img/bg/bg-team.jpg');
    background-attachment: fixed;
}

#team h2{
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 20px;
    color: #98e67b;
    position: relative;
    padding-top: 150px;
}

#team span{
    font-family: 'Textile';
    font-size: 25px;
    color: #e4e4e4;
    position: relative;
}   

#team img{
    width: 95%;
    height: 60%;
    align-self: center;
    padding: 10px;
}

#team::before{
    content: "";
    position: absolute;
    top: calc(0% - 10vh);
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/custom/hr.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 180%;  
}

#team::after{
    content: "";
    position: absolute;
    top: calc(100% - 10vh);
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url('../img/custom/hr.svg');
    background-repeat: no-repeat;
    background-size: 180%;  
    z-index: 2;
}

#team .section-content{
    display: grid;
    margin: 0 auto; 
    width: 80vw;
    height: 80vh;
    grid-template-columns: repeat(4, 1fr); /* Creates four equal columns */
    column-gap: 5px;
    row-gap: 5px;
    padding: 100px;
    padding-top: 20px;
    justify-items: center;
}
#team .section-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 20vw;
    height: 60vh;
    opacity: 0.8;
}

#team .section-item:hover {
    transform: scale(1.1);;
    transition: all 0.5s ease;
    opacity: 1;
    box-shadow: 0 0 10px #ffffff;
    z-index: 10;
}

#team .section-item:hover img {
   padding: 0;
   width: 100%;
}


#team .section-item h3 {
    font-size: calc(1vw + 5px);
    order: 2;
    font-family: 'Calistoga';
    color: #242323;
}
#team .section-item img {
    order: 1;
}
#team .section-item p {
    font-size: calc(1vw + 1vh + 1px);
    order: 4; 
}
#team .section-item .references {
    order: 3;
}
 
.references ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.section-item .references li {
    text-decoration: none;
}
.section-item .references li a {
    font-size: 0; 
    text-decoration: none;
    padding: 0 5px;
}

.references li a::before {
    content: "\f005"; 
    font-family: "Font Awesome 6 Free"; 
    color: #0c8714;
    font-weight: 900;
    font-size: 16px; 
    visibility: visible;
}

@media (max-width: 1024px) {
    #team h2 {
        padding-top: 20px;
    }
    #team .section-content {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
      padding-bottom: 200px;
    }
    #team .section-item {  
        width: 40vw;
        min-height: 300px;
        max-height: 300px;
    
    }
}

#events{
    position: relative;
    /* width: 100vh; */
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-left: #43d72c 2px dotted;
    border-right: #43d72c 2px dotted;
    padding-top: 50px;
    padding-bottom: 200px;
}

#events::before {
    content: "";
    position: absolute;
    top: 50vh;
    left: 60vw;
    width: 190px;
    height: 100%;
    background-image: url('../img/custom/sprites.svg');
    background-repeat: no-repeat;
    background-position: 35% center;
    background-size: auto 30%;
    transform: rotate(45deg); 
    transform-origin: center; 
}

#events::after {
    content: "";
    position: absolute;
    top: -50vh;
    left: 60vw;
    width: 180px;
    height: 100%;
    background-image: url('../img/custom/sprites.svg');
    background-repeat: no-repeat;
    background-position: 67% center;
    background-size: auto 30%;
    transform: rotate(-45deg); 
    transform-origin: center; 
}

#events h2{
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 20px;
    color: #98e67b;
    position: relative;
    padding-top: 50px;
}

#events span{
    font-family: 'Textile';
    font-size: 25px;
    color: #1f1b1b;
    position: relative;
}

#events .section-content{
    flex-wrap: wrap;
    padding-top: 50px;
    display: flex;
    width: 80vw;
    justify-items: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: left;
}

#events .section-item {
    display: grid;
    grid-template-columns: minmax(25vw, 1fr) 3fr;
    grid-template-rows: auto auto 1fr; /* Adjust '1fr' to 'auto' if content overflows */
    padding: 10px;
    gap: 10px; /* Adds some space between grid items */
    z-index: 1;
    opacity: 0.8;
}

#events .section-item:nth-child(2) {
    border-top: #242323 1px dotted;
    border-bottom: #242323 1px dotted;
}

#events .section-item img {
    grid-row: 1 / 4; 
    width: 100%; 
    height: auto; 
}

#events .section-item p {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    overflow: auto; /* Add scroll if content overflows */
    text-overflow: ellipsis;
    font-size: 1vw;
    color: #716e6e;
    font-family: '';
}

#events .section-item h3 {
    font-family: "Calistoga";
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#events .section-item .events-props .rating
{
    font-size: 10px;
    align-self: center;
    color: #3c3b3b;
}

#events .section-item .events-props {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
}

#events .section-item:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
    transform: scale(1.01);
    box-shadow: 0 0 20px #ffffff;
    
}

#menu{
    position: relative;
    height: 220vh;
    margin: 0 auto;
    text-align: center;
    background: url('../img/bg/bg-menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    align-items: center; /* Add this line */
    justify-content: center; /* Add this line */
}


#menu::before{
    content: "";
    position: absolute;
    top: calc(0% - 10vh);
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/custom/hr.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 180%;  
}

#menu::after{
    content: "";
    position: absolute;
    top: calc(100% - 10vh);
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url('../img/custom/hr.svg');
    background-repeat: no-repeat;
    background-size: 180%;  
    z-index: 2;
}

#menu h2{
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 20px;
    color: #5bd152;
    position: relative;
}

#menu span{
    font-family: 'Textile';
    font-size: 25px;
    color: #d9e8d9;
    position: relative;
}


#menu img{
    position: relative;
    width: 20.2vw;
    height: 40.2vh;
    flex-basis: 50%;
}

#menu .description{
    position: relative;
    width: 20.2vw;
    height: 40.2vh;
    flex-basis: 50%;
}

#menu .description a{
    font-family: 'Calistoga';
    font-size: 20px;
    color: #1f201f;
    position: relative;
}

#menu .description span{
    font-family: 'Calistoga';
    font-size: 20px;
    color: #1f201f;
    position: relative;
    padding-top: 20px;  
}

#menu .section-item{
    opacity: 0.9;
}

#menu .section-item:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff;
    z-index: 9999;
    opacity: 1;
}

#menu .section-item:hover .description{
    transition: opacity 0.5s ease;
    box-shadow: 0 0 20px #ffffff;
    z-index: 9999;
}

#menu .section-item .description{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu .description span::before{
    content: "\24"; 
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    font-size: 20px; 
    visibility: visible;
}


#menu .section-content{
    display: grid;
    margin: 0 auto;
    margin-top: 20px;
    border: #ffffff 30px solid;
    grid-template-columns: 20.2vw 20.2vw 20.2vw 20.2vw;
    grid-template-rows: 40.2vh 40.2vh 40.2vh 40.2vh;
    
}

#menu .section-item:nth-child(1){
    display: flex;
    flex-direction: row;
    grid-column: 1/3;
    grid-row: 1/2;
}

#menu .section-item:nth-child(1) .description{
    background-color: #b6ffa1;
    z-index: 100;
}

#menu .section-item:nth-child(1) .description::before
{
    content: '';
    border-top: 15px solid transparent;
    border-right: 30px solid #b6ffa1;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: -2vw;
    top: 17vh;
    z-index: 100;    
}

#menu .section-item:nth-child(2){
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1/2;
    grid-row: 2/4;
}

#menu .section-item:nth-child(2) .description::before
{
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #cccccb;
    position: absolute;
    left: 9vw;
    top: 39.5vh;
    z-index: 100;    
}

#menu .section-item:nth-child(2) .description{
    background-color: #cccccb;
    z-index: 100;
}



#menu .section-item:nth-child(3){
    display: grid;
    grid-template-columns: 20.2vw 20.2vw;
    grid-template-rows: 40.2vh 40.2vh;
    grid-column: 3/5;
    grid-row: 3/5;
}


#menu .section-item:nth-child(3) .description::before
{
    content: '';
    border-top: 15px solid transparent;
    border-right: 30px solid #b6ffa1;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: -1.9vw;
    top: 38.3vh;
    z-index: 100;    
}


#menu .section-item:nth-child(3) .description{
    background-color: #b6ffa1;
    grid-column: 2/3;
    grid-row: 1/3;
    height: 80.4vh;
    z-index: 100;
}

#menu .section-item:nth-child(3) .figures{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/3;
}


#menu .section-item:nth-child(4){
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/4;
}


#menu .section-item:nth-child(4) .description::before
{
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #e6927e;
    position: absolute;
    left: 9vw;
    top: -3.5vh;
    z-index: 1000;    
}

#menu .section-item:nth-child(4) .description{
    background-color: #e6927e;
    z-index: 100;
}

#menu .section-item:nth-child(5){
    grid-column: 3/4;
    grid-row: 1/3;
}

#menu .section-item:nth-child(5) .description::before
{
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #cccccb;
    position: absolute;
    left: 9vw;
    top: -3.5vh;
    z-index: 1000;       
}

#menu .section-item:nth-child(5) .description{
    background-color: #cccccb;
    z-index: 100;
}

#menu .section-item:nth-child(6){
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1/3;
    grid-row: 4/5;
}


#menu .section-item:nth-child(6) .description::before
{
    content: '';
    border-top: 15px solid transparent;
    border-left: 30px solid #b6ffa1;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: 20vw;
    top: 19vh;
    z-index: 100;    
}

#menu .section-item:nth-child(6) .description{
    background-color: #b6ffa1;
    z-index: 100;
}

#menu .section-item:nth-child(7){
    display: flex;
    flex-direction: column-reverse;
    grid-column: 4/5;
    grid-row: 1/3;
}


#menu .section-item:nth-child(7) .description::before
{
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #e6927e;
    position: absolute;
    left: 9vw;
    top: 39.5vh;
    z-index: 100;    
}


#menu .section-item:nth-child(7) .description{
    background-color: #e6927e;
    z-index: 100;
}


#services{
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-left: #43d72c 2px dotted;
    border-right: #43d72c 2px dotted;
    min-width: 768px;
    position: relative;
    padding: 20px;
    padding-bottom: 100px;
}

#services .heading{
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

#services h2{
    font-size: 20px;
    color: #8ffd7b;
    font-family: 'Calistoga';;
    text-transform: uppercase;
    font-size: uppercase;
}

#services span{
    font-size: 25px;
    font-family: 'Textile';
    font-size: uppercase;
}

#services .section-content{
    width: 90%;
    overflow-x: hidden;
    border-collapse: collapse;
    list-style: none;
    margin: 0 auto;
    background-color: rgb(3, 3, 3);
    padding: 50px;
    background-image: url('../img/gang/heisenberg.jpg');
    background-repeat: no-repeat;   
    background-position: right ;
    background-size: 50%;
    box-shadow: #000000 0px 10px 10px;
    opacity: 0.8;
}

#services .section-content:hover{
    opacity: 1;
    transition: all 0.5s ease;
    transform: scale(1.05);
    box-shadow: #000000 0 0 20px;

}

#services th{
    display: none;
}

#services table {
    width: 50%;
    overflow-x: hidden;
    border-collapse: collapse;
    list-style: none;
    margin: 0;
}

#services table td {
    padding: 15px;
    text-align: left;
    color: #ffffff;
}

#services table td:nth-child(2):before{
    content: "\24"; 
    font-family: "Font Awesome 6 Free"; 
    font-size: 20px; 
    visibility: visible;
}

#services table tr:nth-child(8) td:nth-child(2):before{
    display: none;
}


#services table th {
    padding: 20px;
    text-align: left;
    color: #ffffff;
}

#services table td a {
    color: #ffffff;
    text-decoration: none;
}

  
  #services a {
    color: #ffffff;
    text-decoration: none;
  }

#contact{
    position: relative;
    height: 1200px;
    margin: 0 auto;
    text-align: center;
    background: url('../img/bg/bg-contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 768px;
}

#contact::before{
    content: "";
    position: absolute;
    top: calc(0% - 10vh);
    left: 0;
    width: 100%;
    height: 180px;
    background-image: url('../img/custom/hr.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 180%;  
}

#contact::after{
    content: "";
    position: absolute;
    top: calc(100% - 10vh);
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url('../img/custom/hr.svg');
    background-repeat: no-repeat;
    background-size: 180%;  
    z-index: 2;
}

#contact .heading h2{
    font-family: 'Calistoga';
    text-transform: uppercase;
    font-size: 20px;
    color: #5bd152;
    position: relative;
}

#contact .heading span{
    font-size: 25px;
    font-family: 'Textile';
    font-size: uppercase;
    color: #cbcbcb;
}

#contact .heading{
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
}

#contact .section-content{
    display: grid;
    grid-template-columns: 20.9vw 60vw;
    grid-template-rows: auto auto;
    box-sizing: border-box;
    z-index: 1;
    margin: auto; 
    width: fit-content; 
}

#contact .section-content img{
    opacity: 0.85;
    border: #ffffff 5px solid;
    width: 100%;   
    height: 55vh;
    box-sizing: border-box;
    grid-column: 1/2;
    grid-row: 1/3;
}

#contact .section-content blockquote{
    box-sizing: border-box;
    padding: 2vh 2vw 2vh 2vw;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/2;
}

#contact .section-content blockquote:hover + img {
    border: none;
    transition: all 0.5s ease;
    opacity: 1;
}

#contact .section-content img:hover {
    border: none;
    transition: all 0.5s ease;
    opacity: 1;
}

#contact .section-content blockquote:hover{
    transition: opacity 0.5s ease;
    box-shadow: 0 0 20px #ffffff;
    z-index: 9999;
}

#contact .section-content blockquote p{
    font-style: italic;
    font-size: 1.5vi;
    color: #000000;
    padding-bottom: 5vh;
}

#contact .section-content blockquote span{
    font-style: italic;
    font-size: 1.5vi;
    color: #000000;
    padding-bottom: 1vh;
}

#contact .references ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
}


#contact .section-content .contact-form{
    padding: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}

#contact .section-content .contact-form form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: auto;
     
}

#contact .section-content .contact-form form input{
    opacity: 0.85;
    box-sizing: border-box;
    border: #f7f7f7 5px solid;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
}

#contact .section-content .contact-form form input:focus{
    opacity: 1;
}


#contact .section-content .contact-form form input:required{
    background-color: lightpink
}

#contact .section-content .contact-form form input:required:valid
{
    background-color: lightgreen;
}

#contact .section-content .contact-form form select{
    opacity: 0.85;
    box-sizing: border-box;
    border: #f7f7f7 5px solid;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
}

#contact .section-content .contact-form form select:focus{
    opacity: 1;
}

#contact .section-content .contact-form form select:valid{
    background-color: lightgreen;
}

#contact .section-content .contact-form form textarea{
    opacity: 0.85;
    box-sizing: border-box;
    border: #f7f7f7 5px solid;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
}

#contact .section-content .contact-form form textarea:focus{
    opacity: 1;
}

#contact .section-content .contact-form form input[type="submit"]{
    align-self: center;
    opacity: 0.85; 
    padding: 10px;
    margin: 10px;
    width: 20%;
}

#contact .section-content .contact-form form:not(:has(:invalid)) input[type="submit"]:hover{
    opacity: 1; 
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow: 0 0 20px #ffffff;
}

#contact .section-content .contact-form form:not(:has(:invalid)) input[type="submit"]:disabled{
    cursor: progress;
    transform: scale(0.9);
    opacity: 0.6;
}

form:not(:has(:invalid)) input[type="submit"]{
    cursor: pointer;
    background-color: lightgreen; 
}

form:has(:invalid) input[type="submit"] {
    cursor: no-drop;
    background-color: lightpink; 
}
footer{
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    background-color: #fff;
    border-left: #43d72c 2px dotted;
    border-right: #43d72c 2px dotted;
    min-width: 768px;
    position: relative;  
    background-image: url(../img/custom/gang.svg);
    background-repeat: no-repeat;
    background-position:  center 80%;
    background-size: 50% 50%;
}

footer a{
    font-size: 15px;
    color: #181818;
    text-decoration: none;
    font-family: 'Calistoga';
}

footer a:hover{
    color: #43d72c;
}

footer span{
    font-size: 15px;
    color: #181818;
    font-family: 'Calistoga';
}

footer .section-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 150px;
}

.scrolled .fa-arrow-up{
    opacity: 0.4;
    position: fixed;
    padding: 10px;
    padding-right: 12px; 
    padding-left: 12px;
    border: #43d72c 2px solid;
    bottom: 10px;
    right: 10px;
    color: #43d72c;
    font-size: 10px;
    cursor: pointer;
    z-index: 100;
}

.fa-arrow-up:hover{
    opacity: 1;
    transition: all 0.5s ease;
    transform: scale(1.1);
    box-shadow: 0 0 20px #43d72c;
}






